.find-boot-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bootcamp-list {
    width: 40%;
}

.bootcamp-list h2 {
    margin-bottom: 10px;
}

.bootcamp-list ul {
    list-style-type: none;
    padding: 0;
}

.bootcamp-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.search-container {
    width: 40%;
}

.search-container h2 {
    margin-bottom: 10px;
}

.search-container input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}