.slider-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: right;
}

.slick-slide {
  display: inline-block;
  text-align: center;
}

.slick-slide .slider-link {
  display: inline-block;
  margin: 10px;
}

.slick-slide .slider-image {
  width: 300px;
  height: auto;
}