.slider-container {
<<<<<<< HEAD
  max-width: 800px; /* 크기를 키움 */
=======
  max-width: 600px;
>>>>>>> b1d2c24c615711a9d943290e11fe0e38bb5259e1
  margin: 0 auto;
  text-align: right;
  background-color: rgb(255, 255, 255);
}

.slick-slide {
  display: inline-block;
  text-align: center;
}

.slick-slide .slider-link {
  display: inline-block;
  margin: 10px;
}

.slick-slide .slider-image {
<<<<<<< HEAD
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10; /* 비율을 3:7로 설정 */
  object-fit: cover;
=======
  width: 300px;
  height: auto;
>>>>>>> b1d2c24c615711a9d943290e11fe0e38bb5259e1
}

.color {
  background-color: rgb(210, 255, 255);
  background-size: cover;
  background-position: center;
  transition: background-color 0.5s ease;
}

.color.scrolled {
  background-color: transparent;
}

.color.scrolled {
  background-color: rgb(255, 255, 255);
}

.additional-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.link-container {
  margin: 0 10px;
}

.link-image {
<<<<<<< HEAD
  width: 300px; /* 크기를 키움 */
  height: auto;
  aspect-ratio: 16 / 10; /* 비율을 3:7로 설정 */
  object-fit: cover;
=======
  width: 100px;
  height: auto;
>>>>>>> b1d2c24c615711a9d943290e11fe0e38bb5259e1
}